@import "./src/app/shared/styles";

:host {
  width: 100%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  input, textarea {
    z-index: 1;
    align-self: stretch;
    padding: 0.8rem 1rem;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 80;
    color: #333;
    border: none;
    outline: none;
    border-radius: 5px;
    @include BoxShadow(3);
    transition: box-shadow 300ms;
    resize: vertical;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.1));

    &::placeholder {
      color: rgba(255, 255, 255, 0.6);
    }

    &:focus {
      @include BoxShadow(12);

      &::placeholder {
        color: rgba(255, 255, 255, 0.3);
      }
    }

  }

  button {
    user-select: none;
    border: none;
    outline: none;
    cursor: pointer;
    background: rgba(#fb9602, .8);
    width: 60%;
    margin-top: 10px;
    color: white;
    font-family: 'Roboto', sans-serif;
    border-radius: 3px;
    padding: 15px;
    @include BoxShadow(3);
    transition: .7s;

    &:hover {
      background: rgba(#fb9602, .7);
      @include BoxShadow(12);
    }

    &:active {
      background: rgba(#fb9602, 1);
      transform: scale(1.10);
    }
  }

}
