<app-title>About Me</app-title>

<app-divider></app-divider>

<div class="about">
  <p>
    Hello! I’m Yevheniy Solovey. But you can call me Jenia :).
  </p>
  <p>
    Full stack developer from Ukraine. I have rich experience...
  </p>
  <table style="width: 100%">
    <tr>
      <td><b>Age:</b> 25</td>
      <td><b>Residence:</b> Poland</td>
    </tr>
    <tr>
      <td><b>Available for work:</b> Yes</td>
      <td><b>Address:</b> Gdańsk, Poland</td>
    </tr>
  </table>
</div>

<app-title>Fun Facts</app-title>
<app-divider></app-divider>

<div class="fun-facts">
  <div class="fun-facts-item">
    <fa-icon [size]="iconSize" [icon]="globeIcon"></fa-icon>
    <p>14 Countries Visited</p>
  </div>

  <div class="fun-facts-item">
    <fa-icon [size]="iconSize" [icon]="codeIcon"></fa-icon>
    <p>24 hour - longest coding session</p>
  </div>

  <app-divider [vertical]="true"></app-divider>

  <div class="fun-facts-item">
    <fa-icon [size]="iconSize" [icon]="mountainIcon"></fa-icon>
    <p>14 km - longest mountain trail</p>
  </div>

  <app-divider [vertical]="true"></app-divider>

  <div class="fun-facts-item">
    <fa-icon [size]="iconSize" [icon]="infinityIcon"></fa-icon>
    <p>hours spent learning programming</p>
  </div>
</div>

<app-divider></app-divider>


<app-title>My Hobbies</app-title>
<app-divider></app-divider>
<div class="hobbies">
  <fa-icon [size]="iconSize" [icon]="carIcon"></fa-icon>
  <app-divider [vertical]="true"></app-divider>
  <fa-icon [size]="iconSize" [icon]="gameIcon"></fa-icon>
  <app-divider [vertical]="true"></app-divider>
  <fa-icon [size]="iconSize" [icon]="bookIcon"></fa-icon>
  <app-divider [vertical]="true"></app-divider>
  <fa-icon [size]="iconSize" [icon]="travelIcon"></fa-icon>
</div>
<app-divider></app-divider>
<div class="hobbies">
  <fa-icon [size]="iconSize" [icon]="fishIcon"></fa-icon>
  <app-divider [vertical]="true"></app-divider>
  <fa-icon [size]="iconSize" [icon]="hikingIcon"></fa-icon>
  <app-divider [vertical]="true"></app-divider>
  <fa-icon [size]="iconSize" [icon]="beerIcon"></fa-icon>
  <app-divider [vertical]="true"></app-divider>
  <fa-icon [size]="iconSize" [icon]="coffeeIcon"></fa-icon>
</div>
