@import "./src/app/shared/styles";

:host {
  min-height: 100%;
  height: fit-content;
  width: 100%;
}

.about {
  display: flex;
  padding-left: 20px;

  app-divider {
    width: 1px;
    padding: 0;
  }

  &-basic-info b {
    color: black;
    padding: 3px;
    border-radius: 5px;
    background: #fb9602;
  }

  & > * {
    padding: 10px;
    width: 50%;
  }
}

.fun-facts {
  display: flex;
  justify-content: space-around;


  app-divider {
    max-width: 1px;
  }

  &-item {
    padding: 20px;
    text-align: center;
    flex-grow: 1;
    width: 100%;

    fa-icon {
      color: #ff9800;
    }
  }
}

.hobbies {

  &-row {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }

  app-divider {
    max-width: 1px;
  }

  fa-icon {
    color: #ff9800;
    padding: 20px;
    width: 25%;
  }
}

.books {
  display: flex;
  align-items: stretch;
  justify-content: space-around;

  app-divider {
    max-width: 1px;
  }

  img {
    padding: 5px;
    width: 150px;
  }
}
