<app-title>About Me</app-title>

<app-divider></app-divider>

<section class="about">
  <article>
    <p>
      Hello, I'm a Full Stack Engineer.
      I have wide experience in creating complex web systems.
      My favorite technology stack is .Net Core with CQRS and Angular with NgRx.
      I'm a fan of learning something new, I could spend tens of hours just trying different technologies or programming
      languages.
      Sometimes I even read the documentation before using frameworks :)
    </p>
  </article>

  <app-divider [vertical]="true"></app-divider>

  <section class="about-basic-info">
    <p><b>Age:</b> {{age}}</p>
    <p><b>Residence:</b> Poland</p>
    <p><b>Address:</b> Gdańsk, Poland</p>
  </section>
</section>

<app-divider></app-divider>

<app-title>Fun Facts</app-title>
<app-divider></app-divider>

<section class="fun-facts">
  <section class="fun-facts-item">
    <fa-icon [size]="iconSize" [icon]="globeIcon"></fa-icon>
    <p>14 Countries Visited</p>
  </section>

  <app-divider [vertical]="true"></app-divider>

  <section class="fun-facts-item">
    <fa-icon [size]="iconSize" [icon]="codeIcon"></fa-icon>
    <p>24 hour - longest coding session</p>
  </section>

  <app-divider [vertical]="true"></app-divider>

  <section class="fun-facts-item">
    <fa-icon [size]="iconSize" [icon]="mountainIcon"></fa-icon>
    <p>14 km - longest mountain trail</p>
  </section>

  <app-divider [vertical]="true"></app-divider>

  <section class="fun-facts-item">
    <fa-icon [size]="iconSize" [icon]="infinityIcon"></fa-icon>
    <p>hours spent learning programming</p>
  </section>
</section>

<app-divider></app-divider>


<app-title>My Hobbies</app-title>
<app-divider></app-divider>
<section class="hobbies">
  <section class="hobbies-row">
    <fa-icon [size]="iconSize" [icon]="carIcon"></fa-icon>
    <app-divider [vertical]="true"></app-divider>
    <fa-icon [size]="iconSize" [icon]="gameIcon"></fa-icon>
    <app-divider [vertical]="true"></app-divider>
    <fa-icon [size]="iconSize" [icon]="bookIcon"></fa-icon>
    <app-divider [vertical]="true"></app-divider>
    <fa-icon [size]="iconSize" [icon]="hikingIcon"></fa-icon>
  </section>
  <app-divider></app-divider>
  <section class="hobbies-row">
    <fa-icon [size]="iconSize" [icon]="fishIcon"></fa-icon>
    <app-divider [vertical]="true"></app-divider>
    <fa-icon [size]="iconSize" [icon]="travelIcon"></fa-icon>
    <app-divider [vertical]="true"></app-divider>
    <fa-icon [size]="iconSize" [icon]="beerIcon"></fa-icon>
    <app-divider [vertical]="true"></app-divider>
    <fa-icon [size]="iconSize" [icon]="coffeeIcon"></fa-icon>
  </section>
</section>

<app-divider></app-divider>

<app-title>Books I recommend</app-title>
<app-divider></app-divider>
<section class="books">
  <img title="C# in Depth" src="./assets/books/csharp-in-depth.png" alt="c# in depth book cover">
  <app-divider [vertical]="true"></app-divider>
  <img title="CLR via C# by Richter" src="./assets/books/richter.jpg" alt="Richter CLR via C# book cover">
  <app-divider [vertical]="true"></app-divider>
  <img title="Sapiens. A Brief History of Humankind" src="./assets/books/sapiens.jpg" alt="Sapiens book cover">
  <app-divider [vertical]="true"></app-divider>
  <img title="1984" src="./assets/books/1984.jpg" alt="1984 book cover">
</section>
