@import "/src/app/shared/styles";

:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.carousel {
  width: 100%;
  position: relative;

  #next-project-button, #prev-project-button {
    position: absolute;
    top: 0;
    align-self: flex-end;
    border-radius: 5px;
    background: #fb9602;
    color: black;
    border: unset;
    white-space: nowrap;
    padding: 5px 15px;
    font-size: 15px;
    outline: none;
    cursor: pointer;
    z-index: 10;
    transition: padding 500ms, width 500ms, transform 500ms;
  }

  #next-project-button {
    right: 0;
    border-radius: 5px 0 0 5px;
    min-width: 150px;

    &:hover {
      transform: translateX(10px);
    }

    @media (max-width: $media-phone-width) {
      &:hover {
        transform: translateY(20px) translateX(10px);
      }
      transform: translateY(20px);
    }
  }

  #prev-project-button {
    left: 0;
    border-radius: 0 5px 5px 0;
    z-index: 11;

    &:hover {
      transform: translateX(-10px);
    }

    &.hidden {
      transform: translateX(-200px);
    }
  }

  .project {
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 30px;

    app-image-slider {
      overflow: hidden;
    }

    .description-container {
      position: relative;
      overflow: hidden;
      padding: 0 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;

      p {
        width: 100%;
        text-align: justify;
      }

      &-technologies {
        padding: 5px;
        display: flex;
        flex-wrap: wrap;

        span {
          color: #fb9602;
          border-radius: 5px;
          padding: 5px;
          border: 1px #fb9602 solid;
          margin-left: 5px;
          margin-bottom: 5px;
          transition: padding 400ms;
          cursor: default;
          white-space: nowrap;

          &:hover {
            padding: 5px 10px;
          }
        }
      }
    }
  }
}
