<app-title>Background</app-title>
<app-divider></app-divider>

<section class="background">
  <section class="background-col">
    <header class="background-header">
      <h2>
        <fa-icon [icon]="experienceIcon"></fa-icon>
        Experience
      </h2>
    </header>

    <section class="background-item">
      <header>
        <section>
          <span class="date-range current">2020 – Present</span>
          <b>Full Stack Engineer</b>
          <span>Boeing</span>
        </section>
        <img width="160" height="50" src="assets/boeing.png" alt="boeing logo">
      </header>
      <p>
        Development of a brand new microservice along with an Angular 10 web application. Design of architecture in the
        scope
        of the microservice. Code coverage with integration, unit, and e2e automation tests – more than 90% overall.
        Advising and mentoring other company members.
      </p>
    </section>

    <app-divider></app-divider>

    <section class="background-item">
      <header>
        <section>
          <span class="date-range">2018-2020</span>
          <b>Full Stack Engineer</b>
          <span>InnoTec</span>
        </section>
        <img width="160" height="50" src="assets/innotec.png" alt="Innotec logo">
      </header>
      <p>
        Developing world wide applications, maintaining legacy projects, being a lead developer at an
        international project, participating in designing architectures.
      </p>
    </section>

    <app-divider></app-divider>

    <section class="background-item">
      <header>
        <section>
          <span class="date-range">2016 – 2018</span>
          <b>Full Stack Engineer</b>
          <span>Own projects</span>
        </section>
        <img width="70" height="70" src="assets/ys-logo.png" alt="ys logo">
      </header>
      <p>
        Many small applications, freelance, university projects, “pet” projects.
      </p>
    </section>

    <app-divider></app-divider>

    <section class="background-item">
      <header>
        <section>
          <span class="date-range">2016 – 2016</span>
          <b>Trainee .Net Developer</b>
          <span>Transition Technologies</span>
        </section>
        <img width="160" height="30" src="assets/logo_tt.png" alt="transition technology logo">
      </header>
      <p>
        Implementation and testing functionality in C# project.
      </p>
    </section>
  </section>

  <app-divider [vertical]="true"></app-divider>

  <section class="background-col">
    <header class="background-header">
      <h2>
        <fa-icon [icon]="educationIcon"></fa-icon>
        Education
      </h2>
    </header>

    <section class="background-item">
      <header>
        <section>
          <span class="date-range">2015 – 2019</span>
          <b>Lublin University of Technology (Politechnika Lubelska)</b>
          <span>Institute of Computer Science</span>
          <span>Poland</span>
        </section>
      </header>
      <p>
        Engineer degree
      </p>
    </section>

    <app-divider></app-divider>

    <section class="background-item">
      <header>
        <section>
          <span class="date-range">2011 – 2015</span>
          <b>Technical Сollege of Poltava</b>
          <span>Institute of Computer Science</span>
          <span>Ukraine</span>
        </section>
      </header>
      <p>
        Junior specialist degree
      </p>
    </section>

    <app-divider></app-divider>

    <section class="background-item">
      <header>
        <section>
          <span class="date-range current">2011 – Present</span>
          <b>Endless self-education</b>
          <span>Pluralsight, YouTube, Books, The Internet</span>
        </section>
      </header>
      <p>
        <i>"The more you know, the more you realise how much you don't know"</i><br>
        — David T. Freeman
      </p>
    </section>

    <app-divider></app-divider>
  </section>
</section>
