@import "./src/app/shared/styles";

:host {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

app-menu {
  margin-left: 10px;
}

app-profile {
}

.content-container {
  display: flex;
  @include BoxShadow(5);
  margin-right: 10px;
  height: $side-card-height;
  border-radius: 0 $default-border-radius $default-border-radius 0;
  overflow: auto;
  flex-grow: 1;
  max-width: 60%;
  background: rgba($primary, 0.3);


  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}
