<div class="header">
  <img class="cover" src="./assets/cover.jpg">
  <img class="avatar" src="./assets/avatar.jpg">
</div>
<h3 class="name">
  Yevheniy Solovey <fa-icon [icon]="speakerIcon"></fa-icon>
</h3>
<div class="social-links">
  <fa-icon [icon]="githubIcon"></fa-icon>
  <fa-icon [icon]="linkedInIcon"></fa-icon>
  <fa-icon [icon]="facebookIcon"></fa-icon>
  <fa-icon [icon]="telegramIcon"></fa-icon>
</div>
<p class="contact-button">
  Download CV <fa-icon [icon]="downloadIcon"></fa-icon>
</p>
