@import "./src/app/shared/styles";

@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu"), url("assets/Fonts/Ubuntu/Ubuntu-Regular.ttf");
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;

  background: $primary;
  color: rgba(255, 255, 255, .85);

  font-family: -apple-system, BlinkMacSystemFont, Ubuntu, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: $font-size;

  @media (max-width: $media-tablet-width) {
    height: unset;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  background: $primary;
  @include border-radius-right;
  overflow: hidden;
}

/* Track */
::-webkit-scrollbar-track {
  background: $primary;
  @include border-radius-right;
  overflow: hidden;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  @include border-radius-right;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
