<nav>
  <a class="menu-item" routerLink="/about" routerLinkActive="active">
    <fa-icon [icon]="aboutIcon"></fa-icon>
    About
  </a>
  <app-divider></app-divider>
  <a class="menu-item" routerLink="/skills" routerLinkActive="active">
    <fa-icon [icon]="skillsIcon"></fa-icon>
    Skills
  </a>
  <app-divider></app-divider>
  <a class="menu-item" routerLink="/background" routerLinkActive="active">
    <fa-icon [icon]="backgroundIcon"></fa-icon>
    Background
  </a>
  <app-divider></app-divider>
  <a class="menu-item" routerLink="/projects" routerLinkActive="active">
    <fa-icon [icon]="projectsIcon"></fa-icon>
    Projects
  </a>
  <app-divider></app-divider>
  <a class="menu-item" routerLink="/contact" routerLinkActive="active">
    <fa-icon [icon]="contactIcon"></fa-icon>
    Contact
  </a>
</nav>
