@import "./src/app/shared/styles";

:host {
  @include flex-column-center-center;
  @include BoxShadow(5);
  margin-right: 10px;
  background: $primary;
  padding: $padding;
  border-radius: $default-border-radius;
}

.menu-item {
  @include flex-column-center-center;
  padding: 10px;
  transition:  color 200ms;
  outline: none;

  fa-icon {
    font-size: 25px;
    transition:  font-size 200ms;
  }

  &:hover {
    color: #fb9602;
    cursor: pointer;
    fa-icon {
      font-size: 30px;
    }
  }

  &.active {
    color: #fb9602;
  }
}
